# Compiled python
__pycache__/
*.py[cod]

# Virtual env
env/

# Local SQLite db (just in case someone was to change DB engine to SQLite)
db.sqlite3

# .save files (from broken sessions)
*.save

# Development env
.idea/

# Logs
dj_lol_dcs/log/

# Temporary files
dj_lol_dcs/tmp/